{{#each results}}
<div class="artist">
  <img src="{{ images.[1].url }}" />
  <div>
    <h2>{{ name }}</h2>
    <small>{{ genres }}</small>
    <br>
    <small>{{ description }}</small>
    <a href="/albums/:id">View Albums</a>
  </div>
</div>
{{/each}}